"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8deb8af9-ce06-45f4-b52f-fa30ba53e4c4"
  core:
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "86f04aad-c530-eb37-de7a-8a0519d99057"
  minimap:
    disablePythonDocLinks: true
  "seti-syntax":
    themeColor: "Orange"
  "seti-ui":
    compactView: true
    themeColor: "Orange"
  "w3c-validation": {}
  welcome:
    showOnStartup: false
