"*":
  "atom-beautify":
    _analyticsUserId: "28afc5e2-8e9c-4e71-8c79-67dd3cbe7f6b"
    perl_perltidy_profile: "~/.perltidyrc"
  "autocomplete-plus":
    maxVisibleSuggestions: 30
  "clang-format":
    formatJavascriptOnSave: false
    formatObjectiveCOnSave: true
  core:
    disabledPackages: [
      "jsdoc-generator"
      "makro"
      "javascript-snippets"
      "haskell-grammar"
    ]
    projectHome: "~/Works"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr:
    align_tags: "shallow"
    auto_add_method_tag: true
    deep_indent: true
    extra_tags_go_after: true
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "f9a18cac-be95-c8b9-09ec-02a129e9b8d7"
  "jsdoc-generator": {}
  "keybinding-cheatsheet": {}
  linter:
    lintOnFly: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    lintOnEdit: false
    showRuleIdInMessage: true
  "linter-less": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  mocha:
    specDirectory: "./test/"
  perltidy: {}
  pigments: {}
  "terminal-panel": {}
  welcome:
    showOnStartup: false
".perl.source":
  editor:
    nonWordCharacters: "/\\()\"',.;<>~!#^&*|+=[]{}`?-"
